.ucapan {
    height: 60px;
}

.ucapan h6 {
    font-size: 19px;
    line-height: 15px;
}

.text-fitur p,
.text-fitur h6 {
    text-transform: capitalize;
}

.fixed-bottom {
    border-radius: 15px;
}

.icon a img {
    height: 30px;
    color: white;
}

.ucapan p {
    font-size: 14px;
}

.ucapan span {
    margin: auto;
    margin-left: -9px;
    padding-top: 7px;
}

.box-ucapan {
    height: 100%;
    overflow: hidden;
}

.daun1 {
    border-top: 3px solid rgb(44, 153, 68);
    border-right: 3px solid rgb(44, 153, 68);
    border-bottom: 3px solid rgb(44, 153, 68);
    width: 70%;
    /* background-color: aqua; */
    border-radius: 50%;
    /* margin-left: -15px; */
}

.daun1 img {
    padding: 6px;
    border-radius: 50%;
    width: 100%;
    /* margin: auto; */
}

.daun2 {
    border-top: 3px solid rgb(44, 153, 68);
    border-right: 3px solid rgb(201, 204, 21);
    border-bottom: 3px solid rgb(226, 137, 20);
    border-left: 3px solid rgb(22, 162, 218);
    width: 70%;
    /* background-color: aqua; */
    border-radius: 50%;
    /* margin-left: -15px; */
}

.daun2 img {
    padding: 6px;
    border-radius: 50%;
    width: 100%;
    /* margin: auto; */
}

.head2 {
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.123);
}

.point img {
    margin-top: -5px;
    border-radius: 50%;
    width: 17px;
}

.point h1 {
    font-size: 20px;

}

.head1,
.head2,
.head-22,
.head-profil {
    border-radius: 10px;
}

.fitur button {
    border-radius: 10px;
}

.content {
    margin-top: -450px;
    border-radius: 20px 20px 0 0;
}

.text-fitur p {
    font-size: 14px;
}

.truk img {
    margin-top: 4px;
    margin-left: -6px;
    width: 50px;
}

.dropoff img {
    width: 40px;
}

.ot-box img {
    width: 40px;
}

.point a {
    color: black;
}

.point a:hover {
    color: rgb(139, 139, 139);
}

.text-dark {
    font-size: 15px;
}

.point a {
    color: black;
}

.point a:hover {
    color: rgb(139, 139, 139);
}

.text-dark {
    font-size: 15px;
}

.chat {
    font-family: cursive;

}

.nav-chat {
    background-color: rgb(93, 194, 132);
}


.profil {
    border-top: 3px solid rgb(44, 153, 68);
    border-right: 3px solid rgb(44, 153, 68);
    border-bottom: 3px solid rgb(44, 153, 68);
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.profil img {
    padding: 10px;
    width: 100%;
}

.bg-profil {
    background-color: rgb(226, 226, 226);
}

.carousel-item {
    overflow: hidden;
    border-radius: 10px;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.534);
}

.carousel-caption h5,
.carousel-caption p {
    color: white;
    font-size: 12px;
}

#carouselExampleControls {
    width: 90%;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px -5px;
}

.news {
    padding-left: 5px;
}

.caption h6,
.news {
    font-size: 18px;
    color: rgb(32, 32, 32);
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

.caption p {
    font-size: 14px;
    margin-top: -5px;
    padding-bottom: -10px;
    /* line-height: 18px; */
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: -100px;
}